<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="BarkVisor"
      Language="1033"
      Version="0.0.0"
      Manufacturer="BarkVisor"
      UpgradeCode="7E4C9F2A-8B13-4D6E-9C41-2A7F0B5D1E88">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of BarkVisor is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="QEMUBIN">
      <DirectorySearch Id="QemuDirSearch" Path="[ProgramFiles64Folder]qemu">
        <FileSearch Id="QemuExeSearch" Name="qemu-system-x86_64.exe" />
      </DirectorySearch>
    </Property>
    <Condition Message="QEMU is missing at C:\Program Files\qemu. Install QEMU (winget install qemu) before BarkVisor. QEMU is not bundled.">
      <![CDATA[Installed OR QEMUBIN]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="BarkVisor">
          <Directory Id="SHAREDIR" Name="share">
            <Directory Id="SHAREBV" Name="barkvisor">
              <Directory Id="SHAREFE" Name="frontend">
                <Directory Id="SHAREDIST" Name="dist" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="DATADIR" Name="BarkVisor">
          <Directory Id="RUNDIR" Name="run" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="BarkVisorExe" Guid="B41F0C3E-6A91-4F2D-9C77-1E8A4D6B2F10" Win64="yes">
        <File Id="BarkVisorFile" Source="payload\BarkVisor.exe" KeyPath="yes" />
        <ServiceInstall
            Id="BarkVisorService"
            Name="BarkVisor"
            DisplayName="BarkVisor"
            Type="ownProcess"
            Start="auto"
            ErrorControl="normal"
            Account="LocalSystem"
            Interactive="no" />
        <ServiceControl
            Id="BarkVisorServiceControl"
            Name="BarkVisor"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATADIR">
      <Component Id="BarkVisorDataDir" Guid="C52A1D4F-7B02-4E3E-8D88-2F9B5E7C3011" Win64="yes">
        <CreateFolder>
          <Permission User="SYSTEM" GenericAll="yes" />
          <Permission User="Administrators" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="RUNDIR">
      <Component Id="BarkVisorRunDir" Guid="D63B2E50-8C13-4F4F-9E99-3A0C6F8D4122" Win64="yes">
        <CreateFolder>
          <Permission User="SYSTEM" GenericAll="yes" />
          <Permission User="Administrators" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="BarkVisor" Level="1">
      <ComponentRef Id="BarkVisorExe" />
      <ComponentGroupRef Id="BarkVisorRuntimeDlls" />
      <ComponentGroupRef Id="BarkVisorSpaFiles" />
      <ComponentRef Id="BarkVisorDataDir" />
      <ComponentRef Id="BarkVisorRunDir" />
    </Feature>
  </Product>
</Wix>
